<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <table th:fragment="jobListing" class="job-listing" th:each="job : ${jobs}">
    <tr>
      <td><strong>ID</strong></td>
      <td th:text="${job.id}"></td>
    </tr>
    <tr>
      <td><strong>Name</strong></td>
      <td th:text="${job.name}"></td>
    </tr>
    <tr>
      <td><strong>Employer</strong></td>
      <td th:text="${job.employer}"></td>
    </tr>
    <tr>
      <td><strong>Location</strong></td>
      <td th:text="${job.location}"></td>
    </tr>
    <tr>
      <td><strong>Position Type</strong></td>
      <td th:text="${job.positionType}"></td>
    </tr>
    <tr>
      <td><strong>Skill</strong></td>
      <td th:text="${job.coreCompetency}"></td>
    </tr>
  </table>

</div>

</body>
</html>